<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.guqing.violet.app.admin.mapper.RoleMapper">
    <!-- 自定义结果映射 -->
    <resultMap id="roleWithMenuResultMap" type="xyz.guqing.violet.app.admin.model.entity.RoleDO">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <!-- 多表关联映射 -->
        <collection property="menuIds" javaType="java.util.Set" ofType="java.lang.Long">
            <result column="menu_id" property="menuId"/>
        </collection>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long"
            resultMap="roleWithMenuResultMap">
        select
            role.id,
            role.role_name,
            role.remark,
            role.create_time,
            role.modify_time,
            rm.menu_id menu_id
        from role
          left join role_menu rm on role.id = rm.role_id
        where role.id = #{id}
    </select>
</mapper>