<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.guqing.violet.app.admin.mapper.UserMapper">
    <select id="findUserBy"
            parameterType="xyz.guqing.violet.app.admin.model.params.UserQuery"
            resultType="xyz.guqing.violet.app.admin.model.entity.UserDO">
        SELECT
            u.id,
            u.username,
            u.nickname,
            u.email,
            u.mobile,
            u.status,
            u.deleted,
            u.create_time createTime,
            u.gender,
            u.group_id,
            u.last_login_time lastLoginTime,
            u.modify_time modifyTime,
            u.description,
            u.avatar,
            g.group_name groupName,
            GROUP_CONCAT(r.id) roleId,
            GROUP_CONCAT(r.role_name) roleName
        FROM
            `user` u
            LEFT JOIN user_group g ON (u.group_id = g.id)
            LEFT JOIN user_role ur ON (u.id = ur.user_id)
            LEFT JOIN role r ON (r.id = ur.role_id)
        WHERE
            u.deleted=0
        <if test="q.username != null and q.username != ''">
            AND u.username = #{q.username}
        </if>
        <if test="q.groupId != null and q.groupId != ''">
            AND g.id = #{q.groupId}
        </if>
        <if test="q.gender != null and q.gender != ''">
            AND u.gender = #{q.gender}
        </if>
        <if test="q.status != null and q.status != ''">
            AND u.status = #{q.status}
        </if>
        <if test="q.mobile != null and q.mobile != ''">
            AND u.mobile = #{q.mobile}
        </if>
        <if test="q.groupName != null and q.groupName != ''">
            AND g.group_name like CONCAT('%',#{q.groupName},'%')
        </if>
        <if test="q.createTimeFrom != null">
            And u.create_time &gt; #{q.createTimeFrom}
        </if>
        <if test="q.createTimeTo!= null">
            And u.create_time &lt; #{q.createTimeTo}
        </if>
        group by u.username,u.id,u.email,u.mobile,u.status,u.create_time,u.gender,
        u.group_id,u.last_login_time,u.modify_time,u.description,
        u.avatar
        order by u.create_time desc, u.id
    </select>
</mapper>
