<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.system.mapper.UserMapper">
    <select id="findUserDetailPage"
            parameterType="xyz.guqing.violet.app.admin.model.param.UserQuery"
            resultType="xyz.guqing.violet.common.core.model.entity.system.User">
        SELECT
        u.id,
        u.username,
        u.email,
        u.mobile,
        u.status,
        u.create_time createTime,
        u.gender,
        u.group_id,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        g.group_name,
        GROUP_CONCAT(r.id) roleId,
        GROUP_CONCAT(r.role_name) roleName
        `user` u
        LEFT JOIN user_group g ON (u.group_id = g.id)
        LEFT JOIN user_role ur ON (u.id = ur.user_id)
        LEFT JOIN role r ON (r.id = ur.role_id)
        WHERE 1 = 1
        <if test="user.username != null and user.username != ''">
            AND u.username = #{user.username}
        </if>
        <if test="user.deptId != null and user.deptId != ''">
            AND g.id = #{user.groupId}
        </if>
        <if test="user.sex != null and user.sex != ''">
            AND u.gender = #{user.gender}
        </if>
        <if test="user.status != null and user.status != ''">
            AND u.status = #{user.status}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile = #{user.mobile}
        </if>
        <if test="user.deptName != null and user.deptName != ''">
            AND g.group_name like CONCAT('%',#{user.groupName},'%')
        </if>
        <if test="user.createTimeFrom != null and user.createTimeFrom !=''">
            And u.create_time &gt; #{user.createTimeFrom}
        </if>
        <if test="user.createTimeTo!= null and user.createTimeTo !=''">
            And u.create_time &lt; #{user.createTimeTo}
        </if>
        group by u.username,u.id,u.email,u.mobile,u.status,u.create_time,u.gender,
        u.group_id,u.last_login_time,u.modify_time,u.description,
        u.avatar limit (#{user.current}-1) * #{user.pageSize}, #{user.pageSize}
    </select>
</mapper>
