<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.guqing.violet.app.admin.mapper.UserMapper">
    <select id="findUserBy"
            parameterType="xyz.guqing.violet.app.admin.model.params.UserQuery"
            resultType="xyz.guqing.violet.app.admin.model.entity.UserDO">
        SELECT
            u.id,
            u.username,
            u.nickname,
            u.email,
            u.mobile,
            u.status,
            u.deleted,
            u.create_time createTime,
            u.gender,
            u.group_id,
            u.last_login_time lastLoginTime,
            u.modify_time modifyTime,
            u.description,
            u.avatar,
            g.group_name groupName,
            GROUP_CONCAT(r.id) roleId,
            GROUP_CONCAT(r.role_name) roleName
        FROM
            `user` u
            LEFT JOIN user_group g ON (u.group_id = g.id)
            LEFT JOIN user_role ur ON (u.id = ur.user_id)
            LEFT JOIN role r ON (r.id = ur.role_id)
        WHERE
            u.deleted=0
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="groupId != null and groupId != ''">
            AND g.id = #{groupId}
        </if>
        <if test="gender != null and gender != ''">
            AND u.gender = #{gender}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile = #{mobile}
        </if>
        <if test="groupName != null and groupName != ''">
            AND g.group_name like CONCAT('%',#{groupName},'%')
        </if>
        <if test="createTimeFrom != null">
            And u.create_time &gt; #{createTimeFrom}
        </if>
        <if test="createTimeTo!= null">
            And u.create_time &lt; #{createTimeTo}
        </if>
        group by u.username,u.id,u.email,u.mobile,u.status,u.create_time,u.gender,
        u.group_id,u.last_login_time,u.modify_time,u.description,
        u.avatar
        order by u.create_time desc
        limit ${pageQuery.pageSize * (pageQuery.current-1)},
         #{pageQuery.pageSize}
    </select>

    <select id="countUserBy"
            parameterType="xyz.guqing.violet.app.admin.model.params.UserQuery"
            resultType="java.lang.Long">
        SELECT
          count(*)
        from
          `user` u
        WHERE
            u.deleted=0
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="nickname != null and nickname != ''">
            AND u.nickname = #{nickname}
        </if>
        <if test="groupId != null and groupId != ''">
            AND g.id = #{groupId}
        </if>
        <if test="gender != null and gender != ''">
            AND u.gender = #{gender}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile = #{mobile}
        </if>
        <if test="groupName != null and groupName != ''">
            AND g.group_name like CONCAT('%',#{groupName},'%')
        </if>
        <if test="createTimeFrom != null">
            And u.create_time &gt; #{createTimeFrom}
        </if>
        <if test="createTimeTo!= null">
            And u.create_time &lt; #{createTimeTo}
        </if>
    </select>
</mapper>
